html {
    /* overflow: hidden; */
    scroll-behavior: smooth;
    min-height:100%;
    margin: 0;
    padding: 0;    
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image:url('../images/bookstack.jpeg') ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: #b8b8b8;
    margin:0;
    padding:0;
    
    }

    .watch-container{
        display: none;
    }

    .home-nav{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align: center; */

    }
    .home-links{
        width:100%;
        height:100%;
        margin:0;
        margin-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'Cinzel','Times New Roman', Times, serif;
        /* margin: 8rem 30rem 0 0; */
        padding-bottom: 2rem;
        list-style: none;
    }
    ul li{
        display: inline-block;
        margin-bottom: 3rem;
        
    }
    .home-links a{
        display: inline-block;
        text-decoration: none;
        color:#b8b8b8;
        position: relative;
        font-size: 1.25em;

        
        
    }
    .home-links a::before{
        display: block;
        content:"";
        height: 1px;
        width:100%;
        background-color: #b8b8b8;
        position: absolute;
        bottom:0;
        
    }

    .hands{
    display: none;
    }

    .profile{
        width: 100px;
        height:auto;
        border-radius: 50%;

    }
    .about{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-color: #000;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
        width:100%;
        height:auto;
        background-attachment: scroll;
    }
    .intro{
        color:#b8b8b8;
        padding: 0 1rem 0 1rem;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:25%;
        background-color: #fff;
        color:#000;
        margin:0;
    }
    footer a{
        text-transform: uppercase;
        font-size: 1.25em;
        text-decoration: none;
    }
    .social-media{
        font-size: 2.5em;
        margin-top: 1rem;
    }
    .pocket-watch{
        display: none;
    }
    @media (min-width:414px) {
        .home-links a{
            font-size: 1.45em;
        }
    }
    @media  (min-width:750px){
        body{
            display: flex;
            flex-direction: row;
            background: url('../images/books_without_pocketwatch.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
        }

        .watch-container{
            display: block;
            width:25%;
            height:auto;
            
        }


        .pocket-watch{
            display: block;
            position:absolute;
            float:left;
            top:-15px;
            left:0px;
            z-index: 10;
            background: url('../images/pocketwatchAsset-without-hands.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            width:772px;
            height:772px;
            /* transform: rotate(7deg); */
            position:relative;
            transform-origin: top center;
            animation: sway 2.5s ease-in-out infinite;
            
        }

        @keyframes sway{
            0%,100%{
                transform: rotate(7deg);
            }
            50%{
                transform: rotate(-7deg);
            }
        }



        .hands{
            display: block;
            width:300px;
            height:300px;
            position: absolute;
            top:30rem;
            left:14.75rem;
            /* border:1px solid black; */
            
            }

        #hour{
            position:absolute;
            top:0.8rem;
            left:1.3rem;
            z-index: 0;
            transform-origin: center;
        }
        #minute{
            position: absolute;
            top:0.97rem;
            left:1.66rem;
            z-index: 1;
            transform-origin: center;
        }
        #second{
            position: absolute;
            top:9.9rem;
            left:5.95rem;
        }

        .home-nav{
            width:75%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* text-align: center; */
    
        }

        .home-links a{
            display: inline-block;
            text-decoration: none;
            color:#000;
            position: relative;
            font-size: 2em;
            opacity: 0.1;
            transition: opacity 2000ms ease-in-out;
            
            
        }
        .home-links a:hover{
            opacity: 1;
        }

        .home-links a::before{
            background-color: #000;
        }

        
    }