:root{
    --H-BL-height:2rem;
    --H-BL-width:2rem;
    --V-BL-width:3rem;
    --v-BL-cap-height:3rem;
}
.horizontal{
    display: flex;
    align-items: center;
    width:auto;
    height:5rem;
}
.logo{
    color:#000;
}
.obscure{
    filter:blur(6px);
}
.highlight{
    border:2px solid #5D0CED;
}
.bulb:hover{
    cursor: pointer;
    
}

.cap{
    display: block;
    background-color: #000;
    width:var(--H-BL-width);
    height:var(--H-BL-height);

}
.blacklight-on{
    background-color: #5D0CED;
    color:#fff;
    
}

.blacklight-page{
    background-color: #000;
    color:#fff;
}

.tube{
    display: flex;
    justify-content: center;
    align-items: center;
    width:14rem ;
    height:var(--H-BL-height) ;
    border: 3px solid #5D0CED;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Cinzel",'Times New Roman', Times, serif;
    text-align: center;
}

.prong-H{
    display: block;
    width:1.5rem;
    height:3px;
    background-color: #000;
    padding: 0;
    /* margin: 1em 0 1em 0; */
}
.prongs-left{
    display: flex;
    flex-direction: column;
    width:1.5rem;
    height:var(--H-BL-height);
    justify-content: space-evenly;
    align-items: center;
}
.prongs-right{
    display: flex;
    flex-direction: column;
    width:1.5rem;
    height:var(--H-BL-height);
    justify-content: space-evenly;
    align-items: center;
}

.prong-L{
    justify-content: end;
}
.prong-R{
    justify-content: start;
}


@media(min-width:768px){
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    width:7rem;
    height:50rem;
}
.prong-v{
    display: inline-block;
    width:5px;
    height:1.75rem;
    background-color: #000;
    padding: 0;
    /* margin: 0 1em 0 1em; */
}

.prongs-top{
    display: flex;
    width:var(--V-BL-width);
    height:2rem;
    /* align-self:self-start; */
    justify-content: space-around;
    align-items: center;
    
}
.prongs-bottom{
    display: flex;
    width:var(--V-BL-width);
    height:2rem;
    /* align-self:self-start; */
    justify-content: space-around;
    padding-top: 1px;
}
/* .prongs{
    
    border:1px solid #000;
    border-top: 1px solid red;
} */


.tube{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--V-BL-width);
    height: 20rem;
    border: 3px solid #5D0CED;
    font-weight: 700;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-family: "Cinzel",'Times New Roman', Times, serif;
}

 .leftTube{
    filter:drop-shadow(30px 0 20px #5D0CED);

}
 .rightTube{
    filter:drop-shadow(-30px 0 20px #5D0CED);

}

.blacklight-on-caps-prongs{
    background-color: #fff;
    
}

}