html {
    /* overflow: hidden; */
    scroll-behavior: smooth;
    min-height:100%;
    margin: 0;
    padding: 0;    
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: url("../images/old-paper-texture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: #000;
    margin:0;
    padding:0;
    
    }
    .page-container{
        display:block;
        min-width:100%;
        height:auto;
    }
    .content{
        min-height: 100%;
    }
    .blog-name{
        font-family: "Spectral",'Times New Roman', Times, serif;
    }

    .title-block{
        background-image: url("../images/old-paper-texture.jpeg");
    }

    select{
        background-color: transparent;
    }

    .genre-block{
        height: auto;
        width: 100%;
        
    }

    .genre-block img{
        max-width:300px;
        height: auto;
        border:1px solid #000;
        box-shadow: 6px 6px 10px 3px #000 ;
    }

    .card-container a{
        text-decoration: none;
        color:#000;

    }

    .card{
        background-image: url("../images/old-paper-texture.jpeg");
        box-shadow: 6px 6px 10px 3px #000 ;
        
    }
    .card-title{
        font-family: "Spectral",'Times New Roman', Times, serif;
    }

    .card-body{
        max-width:70%;
        max-height:auto;
        /* background-image: url("../images/aged-paper.jpeg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        background-clip: inherit; */
    }

    .card img{
        max-width:50%;
        height: auto;
        filter: drop-shadow(10px 7px 10px #000);
    }

    .author img{
        max-width:150px;
        height: auto;
        border-radius: 50%;
    }

    .cw-read-container{
        max-height:100vh;
    }

    .content-container{
        width:90%;
        max-height: 60%;
    }

    #content{
        width:90%;
        height:90%;
        background-color: bisque;
        overflow-y: scroll;
        background-image: url("../images/old-paper-texture.jpeg");
    }



    #genres ul{list-style: none;}
    #genres ul>li{
        display: inline-block;

    }
    #tags ul{list-style: none;}
    #tags ul>li{
        display: inline-block;
        
    }

    @media(min-width:768px){
        .side-well{
            background-color:#EEEEEE ;
            box-shadow: 6px 6px 10px 3px #000 ;
        }
        form{
            background-color: transparent;
        }
        form label{
            background-color: transparent;
        }

        /* .genre-block{
            position: sticky;
        } */

        .card{
            background-image: url("../images/old-paper-texture.jpeg");
            box-shadow: none;
            transition: box-shadow ease-in 350ms;

            
        }

        .card:hover{
            box-shadow: 6px 6px 10px 3px #000 ;
        }
    }
