html {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-width: 100vw;
    min-height:100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}
body{
    /* width: 100%; */
    background-color: #fff;

    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: #000;
    margin:0;
    padding:0;
}
/* .grid{
    display: ;
} */

  .gallery-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height:6rem;
    margin:3rem 0 3rem 0;
    padding:0;
    
  }
  h1{
    display: block;
    text-align: center;
  }
  .title-top{
    display: block;
    width:30rem;
    position:relative;
     font-family: "Cinzel",'Times New Roman', Times, serif;
     letter-spacing: 0.25em;
     font-size: 2em;
     text-align: center;
     /* padding-right:1em; */

  }
  .spectrum{
    
    display: block;
    
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet), 
                linear-gradient(to right, rgba(255, 255, 255, 1) ,  rgba(255, 255, 255, 0));
    background-blend-mode: screen;
    width:40rem;
    height:3rem;
    

  }
  .spectrum-inverse{
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet), 
    linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
background-blend-mode: multiply;
  }
  .title-bottom{
    display: block;
   width:100%;
    font-family: "Cinzel",'Times New Roman', Times, serif;
    letter-spacing: 1em;
    font-size: 2em;
    text-align: center;
    padding:0;
    margin-top: 0.5rem;
  }
  small{
    font-family: "Cinzel",'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1em;
    text-align: center;
  }
  .gallery-lg{display: none;}
  @media (min-width:768px){
    .gallery-lg{
        display: block;
        position: relative;
    }
    .gallery-sm{display: none;}
    .display-large{
        
        width:100%;
        height: auto;
        position: absolute;
        top:1rem;
        z-index: 10;
        background-color: rgba(255,255,255,0.5);
    }
    .display-large img{
        max-width: 800px;
    }
    .card-text ul{
        text-decoration: none;
        list-style: none;
    }
    .card-body{
        font-family: "Cinzel",'Times New Roman', Times, serif;
    }
    .card-body a{
        text-decoration: none;
    }
    .blacklight-card{
        display: flex;
        align-items: center;
    }
    .info-card{
      height:100%;
      width:50%;
    }
    .grid-sizer,.grid-item {

      width: 33.333%;
  
      /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
    }
    .grid-item{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:0;
  
    }
    .grid-item img {
      display: block;
      max-width: 100%;
    }
    .grid-item img .BL-toggle{display:none;}
  }
  /* .grid-item--height2 { height: 40%; } */