<!DOCTYPE html>
html(lang="en")
head
    title Music App
    //- img#albumArt(src= albumCover )
    h2 Artist: artist
    h2 Album: album
    h2 Song: song
    audio(controls='true' src='/Music/Pink_Floyd/WishYouWereHere/ShineOnYouCrazyDiamond(PartsI-V).mp3')