html {
    /* overflow: hidden; */
    scroll-behavior: smooth;
    min-height:100%;
    margin: 0;
    padding: 0;    
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-attachment: scroll;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: #000;
    margin:0;
    padding:0;
    
    }

    .view-container{
        width: 100%;
        max-height:80vh;
    }

    .author img{
        width:70px;
        height:auto;
        border-radius: 50%;
    }

    .content-container{
        width: 100%;
        max-height: 50vh;
    }

    #content{
        width: 100%;
        max-height:80%;
        overflow-y: scroll;
        
    }

    .info ul{
        
        list-style: none;
    }
    #views p{margin:0;}
    #likes p{margin:0;}

    #genres ul>li{
        display:inline-block;
        border-right: 1px solid #000 ;
        padding:1rem 1rem 1rem 1rem;

    }
    #genres ul>li:last-child{
        border-right: none;
    }

    #tag ul>li{
        display:inline-block;
        border-right: 1px solid #000 ;
        padding:1rem 1rem 1rem 1rem;

    }
    #tag ul>li:last-child{
        border-right: none;
    }
